/* Font for Heading */ @import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap'); /* font-family: 'Overpass', sans-serif; */
/* Font for Body */ @import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap'); /* font-family: 'Baloo 2', sans-serif; */
 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: rgb(255, 207, 136);
}

hr{
    margin: 30px 0;
    height: 10px;
    background: rgb(255, 185, 46);
}

.inside{
    margin: 30px 0;
    height: 5px;
    background: rgba(255, 185, 46, 0.5);
}

strong{
    font-weight: 900;
}

nav{
    background: rgb(255, 185, 46);
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: end;
    align-items: center;
    color: black;
    font-weight: bold;
}

#translate-lang{
    font-size: 24px;
    margin-right: 10px;
}

nav .lang{
    padding: 5px 0;
}

nav .lang span{
    font-size: 20px;
}

nav .lang a{
    background: rgb(255, 201, 93);
    border-radius: 5px;
    padding: 0px 10px;
    color: black;
    text-decoration: none;
    margin: 0 5px;
    transition: all 0.3s ease-in-out;
}

nav .lang a:hover{
    color: white;
    background: rgb(255, 173, 10);
}

#introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

#introduction h1{
    margin-top: 60px;
    text-align: center;
    font-size: 6.889rem;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
}

#introduction .intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#introduction .intro img{
    border: 5px solid black;
}

p{
    padding: 0 20px;
    font-size: 26px;
    font-weight: bold;
    text-align: justify;
}

.imp{
    margin: 10px;
    margin-left:50px;
    border-left: 10px solid rgb(255, 185, 46);
    border-radius: 10px;
}

.inner{
    background: rgb(255, 197, 82);
    padding: 20px;
    margin: 10px;
    font-weight: bold;
    text-align: justify;
}

h2{
    font-family: 'Overpass', sans-serif;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
}

h3 li{
    font-family: 'Overpass', sans-serif;
    font-size: 2rem;
    margin: 20px 40px;
    margin-top: 30px;
    font-weight: bold;
}

.info_pic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img{
    border: 5px solid black;
    border-radius: 20px;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    font-size: 26px;
    text-align: left;
}

thead{
    text-align: center;
    background: rgb(255, 185, 46);
    font-weight: bold;
}

tbody{
    background: rgb(255, 215, 136);
}

tbody td{
    padding: 2px 10px;
}

td{
    outline: 2px solid black;
}

#continue-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

#continue-btn button{
    font-family: 'Overpass', sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding: 10px 20px;
    background: rgb(255, 185, 46);
    border: 5px solid rgb(255, 162, 0);
    border-radius: 200px;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#continue-btn button:hover{
    background: rgb(255, 212, 125);
    color: rgb(51, 51, 51);
}

#continue-btn a{
    font-size: 26px;
    text-decoration: none;
    padding: 10px;
    font-family: 'Overpass', sans-serif;
}

/* Footer Starts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.footer {
  margin-top: 120px;
  position: relative;
  width: 100%;
  background: rgb(255, 185, 46);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer li{
    list-style: none;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu__link {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 3px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.footer a {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  filter: hue-rotate(170deg) brightness(170%);
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

.creative-commons{
    font-family:Arial;
    color: white;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 1em;
    font-weight: bold;
    width: 2em;
    height: 2em;
    display: inline-block;
    line-height: 2em;
    text-align: center;
    font-size: 1em;
   }

/* Footer Ends */

/* For mobile responsive */
@media only screen and (max-width: 600px) {
    
    hr{
        margin: 15px 0;
        height: 5px;
    }

    .inside{
        margin: 15px 0;
        height: 2.5px;
        background: rgba(166, 166, 166, 0.5);
    }
    
    #translate-lang{
        font-size: 12px;
        margin-right: 1px;
    }
    
    nav .lang{
        padding: 1px 0;
    }
    
    nav .lang span{
        font-size: 13px;
    }
    
    nav .lang a{
        padding: 0px 5px;
        text-decoration: none;
        margin: 0 2px;
    }
    
    nav .lang a:hover{
        background: rgb(77, 77, 77);
    }

    #introduction h1{
        font-size: 2.94rem;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
    #introduction .intro{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 0;
    }
    
    #introduction .intro img{
        height: 300px;
        width: 200px;
    }
    
    h2{
        font-size: 2.195rem;
        margin: 10px 0;
    }

    p{
        padding: 0 20px;
        margin-top: 5px;
        font-size: 18px;
    }

    .imp{
        margin: 10px;
        margin-left:20px;
        border-left: 10px solid rgb(255, 185, 46);
        border-radius: 5px;
    }
    
    .inner{
        background: rgb(255, 197, 82);
        padding: 10px;
        margin: 0 5px;
    }

    .info_pic{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0;
    }

    h3 li{
        font-size: 1.4rem;
        margin: 10px 20px;
    }

    table{
        font-size: 18px;
        text-align: left;
        padding: 0 20px;
    }
    
    tbody td{
        padding: 2px 5px;
    }

    #early-life img{
        height: 250px;
    }

    #early-life .info_pic{
        flex-direction: column-reverse;
    }

    #bijapur_conflict img{
        height: 220px;
    }

    #bijapur_conflict .info_pic{
        flex-direction: column-reverse;
    }

    #mughal_combat img{
        height: 220px;
    }

    #mughal_combat .info_pic{
        flex-direction: column-reverse;
    }

    #reconquest img{
        height: 230px;
    }

    #reconquest .info_pic{
        flex-direction: column-reverse;
    }

    #coronation img{
        height: 250px;
    }

    #coronation .info_pic{
        flex-direction: column-reverse;
    }

    #south-india img{
        height: 250px;
    }

    #south-india .info_pic{
        flex-direction: column-reverse;
    }

    #death-succession img{
        height: 350px;
    }

    #death-succession .info_pic{
        flex-direction: column-reverse;
    }

    #governance img{
        height: 300px;
    }

    #governance .info_pic{
        flex-direction: column-reverse;
    }

    #continue-btn button{
        font-size: 18px;
    }

    .footer p {
        font-size: 0.9rem;
    }
}